html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.15;
  background-color: #efefef;
}
.container {
  width: 1270px;
  margin-top: 100px;
}
/***** Cart *****/
.index-body {
  min-height: calc(100vh - 100px);
}
#Cart {
  background-color: #efefef;
}
#Cart .group-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Cart .title {
  font-weight: 500;
}
#Cart .button-ASA {
  border: 1px solid rgb(111, 85, 237);
  background: white;
  padding: 5px 14px;
  color: rgb(111, 85, 237);
  font-weight: 500;
  border-radius: 100px;
  cursor: pointer;
}
.button-ASA i {
  padding-right: 5px;
}
#Cart .menu-schedule {
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 3px;
  margin: 20px 0;
}
#Cart .list-right-menu {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
#Cart .title-bonus {
  display: flex;
  flex-direction: column;
}
#Cart .title-bonus .div-up a {
  color: #787878;
  text-decoration: none;
  font-size: 13px;
}
#Cart .title-bonus span {
  font-weight: 600;
}
#Cart .group-right .bonus {
  background: white;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 20px 0;
}
#Cart .div-up {
  display: flex;
  justify-content: space-between;
}
#Cart .more-option {
  padding: 30px 5px 10px;
}
#Cart .more-option a {
  text-decoration: none;
  font-size: 13px;
}
#Cart .more-option i {
  padding: 0 5px;
  font-size: 16px;
}

#Cart .cost-checkout,
#Cart .total-cost-checkout {
  background: white;
  padding: 20px;
}
#Cart .cost-checkout {
  border-bottom: 1px solid #eee;
  border-radius: 5px 5px 0 0;
  line-height: 1.8;
}
#Cart .total-cost-checkout {
  border-radius: 0 0 5px 5px;
  padding: 20px 20px 40px;
}
#Cart .total-cost-checkout .total-cost-value span {
  font-weight: 300;
  font-size: 12px;
  color: #333333;
  font-size: 15px;
}
#Cart .total-cost-checkout span {
  font-weight: 300;
  font-size: 12px;
  color: #333333;
  float: right;
}
#Cart .item-cc,
#Cart .cost-down {
  display: flex;
  justify-content: space-between;
}
#Cart .item-cc span,
#Cart .cost-down span {
  color: #333333;
  font-weight: 300;
  font-size: 15px;
}
#Cart .total-cost-value {
  display: flex;
  justify-content: space-between;
}
#Cart .total-cost-value .price-value {
  color: #fe3834;
  font-size: 15px;
}
#Cart .button-pay button {
  border: none;
  margin: 20px 0;
  background: #ff424e;
  border-radius: 3px;
  width: 100%;
  color: white;
  padding: 10px 0;
}
#Cart .button-pay button:hover {
  opacity: 0.8;
}
#Cart .check-all-btn,
#Cart .check-box {
  display: flex;
  align-items: center;
}
.checkbox-fake {
  width: 18px;
  height: 18px;
  border: 1px solid rgb(196, 196, 207);
  border-radius: 5px;
  margin-right: 10px;
  display: block;
  cursor: pointer;
  position: relative;
}
.check-all-btn:hover .checkbox-fake,
.check-box:hover .checkbox-fake {
  border-color: rgb(11, 116, 229);
}
.check-all-btn input[type="checkbox"]:checked + .checkbox-fake,
.check-box input[type="checkbox"]:checked + .checkbox-fake {
  background: rgb(11, 116, 229);
}
.checkbox-fake::before {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 3px;
  width: 12px;
  height: 6px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: scale(1) rotate(-45deg);
}
.check-all-btn input[type="checkbox"],
.check-box input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
  opacity: 0;
}
.index-board {
  background: white;
  border-radius: 3px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #efefef;
}
.index-board .trading-checkbox {
  display: flex;
  flex-direction: row;
}
.trading-checkbox img {
  width: 20px;
  height: 17px;
  margin-right: 5px;
}
.trading-checkbox a {
  text-decoration: none;
  color: #242424;
  font-weight: 600;
  font-size: 15px;
}
.trading-checkbox .path {
  width: 15px;
  height: 12px;
  margin-top: 5px;
}

.with-60 {
  width: 60%;
}
.bar {
  display: block;
  height: 6px;
  background: #eee;
  border-radius: 5px;
  position: relative;
  top: 10px;
}
.bar::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    rgb(0, 173, 87) 0%,
    rgb(119, 218, 144) 105.65%
  );
  border-radius: 100px;
  width: 100%;
  height: 6px;
}
.point-bar,
.goal-price,
.down-price {
  display: flex;
  justify-content: space-between;
}
.down-price,
.goal-price {
  font-size: 11px;
  color: #808089;
}
.point2,
.point3 {
  display: block;
  background: white;
  border-radius: 100px;
  width: 15px;
  height: 15px;
  border: 1px solid #ddd;
  position: relative;
  z-index: 1;
}
.point2::after,
.point3::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 16px;
  height: 15px;
  border-radius: 100px;
  background: rgb(214, 250, 223);
  border: 1px solid rgb(8, 145, 72);
  left: -1px;
}
.point2 svg,
.point3 svg {
  position: relative;
  z-index: 3;
  bottom: 5px;
  left: 3px;
}
.with-30 p {
  padding-left: 10px;
  margin-bottom: 0;
  color: #089148;
  font-size: 13px;
  font-weight: 600;
}
.noti-bonus {
  display: flex;
  font-size: 13px;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}
.noti-bonus p {
  margin-bottom: 0;
}
.noti-bonus span {
  margin: 0 10px;
  color: #0b74e5;
  padding: 3px;
  border: 1px solid #0b74e5;
  border-radius: 5px;
}
.noti-bonus img {
  width: 6px;
  transform: rotate(90deg);
}
.with-30 {
  width: auto;
  padding-left: 20px;
  display: flex;
}
.with-30 img {
  width: 80px;
}
.with-100 {
  width: 100%;
  display: flex;
  align-items: center;
}
.group-list-item .item {
  margin: 30px 0 0 0;
}
.box-left {
  display: flex;
}
.ASA-content {
  background: #f2f0fe;
  margin-top: 15px;
  border-radius: 5px;
  padding: 2px 0;
  width: 70%;
  text-align: center;
}
.ASA-content span {
  font-size: 12px;
  font-weight: 600;
  color: #402da1;
}
.ASA-content span b {
  font-weight: 500;
  color: #808089;
}
.product-name {
  text-decoration: none;
  color: #242424;
  cursor: pointer;
}
.box-right {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.box-right div {
  width: auto;
}
.box-right .price {
  display: flex;
  flex-direction: column;
}
.box-right .price p {
  margin-bottom: 0;
  font-weight: 600;
}
.box-right .price span del {
  padding-left: 5px;
  color: #808089;
  font-size: 11px;
}
.box-right .label-number {
  display: flex;
}
.box-right .price-item {
  color: #ff424e;
  font-weight: 600;
}
.box-right .label-number span {
  border: 1px solid #ddd;
  width: 28px;
  height: 26px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.box-right .label-number .btn-down {
  border-radius: 3px 0 0 3px;
}
.box-right .label-number .price-number {
  border-left: none;
  border-right: none;
  font-size: 12px;
  cursor: unset;
}
.box-right .label-number .btn-up {
  border-radius: 0 3px 3px 0;
}
.del-item i {
  cursor: pointer;
}
.another-store {
  background: white;
  padding: 15px;
  border-radius: 0 0 3px 3px;
}
.another-store b {
  font-weight: 500;
  font-size: 15px;
}
.another-store span {
  padding-left: 10px;
}
.total-cost-checkout .ASA-content {
  display: flex;
  width: 100%;
  margin-top: 40px;
  padding: 13px 10px;
  justify-content: space-between;
}
.total-cost-checkout .ASA-content h5 {
  font-weight: normal;
  font-size: 15px;
  color: #402da1;
  margin-bottom: 0;
}
#Cart .total-cost-checkout .ASA-content .price-ASA {
  color: #6f55ed !important;
  font-weight: 600;
  font-size: 13px;
}
#Cart .total-cost-checkout p {
  font-size: 12px;
  color: #808089;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

#Cart .another-store .path-down {
  transform: rotate(90deg);
}
#Cart .another-store .btn-show-down {
  border: 0;
  background: white;
  position: relative;
}
#Cart .another-store .btn-show-down .content-path-down {
  position: absolute;
  background: white;
  padding: 20px 10px;
  box-shadow: 0 2px 8px gray;
  border-radius: 3px;
  width: 450px;
  height: auto;
  right: -200px;
}
#Cart .another-store .btn-show-down .content-path-down .input-coupon {
  background: #f2f2f2;
  padding: 15px;
  margin: 10px 20px;
  border-radius: 3px;
  display: block;
}
#Cart .another-store .btn-show-down .content-path-down .input-coupon input {
  width: 70%;
  font-size: 13px;
  padding: 8px 0 8px 40px;
  outline: 0;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/mycoupon/coupon_icon.svg);
  background-repeat: no-repeat;
  background-position: 12px center;
}
#Cart
  .another-store
  .btn-show-down
  .content-path-down
  .input-coupon
  .btn-coupon {
  border: 0;
  color: white;
  background: rgb(13, 92, 182);
  padding: 8px 15px;
  border-radius: 3px;
  opacity: 0.8;
  font-weight: 500;
}
#Cart
  .another-store
  .btn-show-down
  .content-path-down
  .input-coupon
  .btn-coupon:hover {
  opacity: 1;
}
.list-coupon .no-coupon img {
  width: 200px;
}
.list-coupon .no-coupon {
  margin: 40px auto;
}
.list-coupon .no-coupon .text1 {
  font-size: 15px;
  color: #242424;
  margin: 0.5rem 0;
}
.list-coupon .no-coupon .text2 {
  font-size: 13px;
  color: #787878;
  margin-bottom: 0;
}

/*coupon*/
.item-coupon {
  display: flex;
  box-shadow: 2px 0px 8px 2px #ddd;
  border-radius: 5px;
  margin-top: 10px;
  justify-content: center;
}
.img-coupon img {
  width: 45px;
  margin: 10px;
}
.background-img {
  border-radius: 5px;
}
.content-coupon {
  display: flex;
}
.content-coupon p {
  margin-bottom: 0;
}
.bg-content {
  display: flex;
  align-items: center;
  margin: 5px 0;
  border-left: 1px dashed #ddd;
}
.bg-content img {
  width: 16px;
  margin-right: 5px;
}
.bg-content b {
  padding-bottom: 3px;
}
.bg-content p {
  font-size: 13px;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 5px;
}
.bg-content span {
  margin: 0 5px;
  padding: 3px 10px;
  background: #017fff;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}
/*/
/*hover show*/
.hover-show {
  position: relative;
  cursor: pointer;
}
.content-hover-show {
  display: none;
  position: absolute;
  width: 300px;
  height: 200px;
  padding: 20px 0;
  box-shadow: 0 2px 10px 2px #ddd;
  border-radius: 5px;
  background: white;
  right: -120px;
  top: 24px;
  color: #787878;
}
.hover-show:hover .content-hover-show {
  display: block;
}
.content-hover-show .title-show {
  background: #fafafa;
  font-size: 12px;
  padding: 6px 0 6px 20px;
  display: flex;
}
.content-hover-show .title-show .left,
.content-hover-show .HSD .left {
  width: 38%;
}
.content-hover-show .title-show .right,
.content-hover-show .HSD .right {
  color: black;
}
.content-hover-show .HSD {
  display: flex;
  font-size: 12px;
  padding: 6px 0 6px 20px;
}
.content-hover-show .request {
  padding: 6px 0 6px 0;
  background: #fafafa;
  font-size: 12px;
}
.content-hover-show .request ul {
  padding-left: 20px;
}

/*/

/*btn checkbox checked*/

/*end btn checked*/

/*tooltip*/
.tooltip,
.text-hover {
  position: relative;
}
.tooltip .tooltiptext,
.text-hover .text-hover-show {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  right: -50px;
  top: 25px;
}
.tooltip:hover .tooltiptext,
.text-hover:hover .text-hover-show {
  visibility: visible;
}
/*end tooltip*/
